*.class
*.swp
*.iml
*.ipr
*.iws
*.idea
*.DS_Store
*.~
*.o
*.so
/local.properties
delite.properties
target/
config/delite/*.xml
*lib_managed
*src_managed
project/boot
project/plugins/project
runtime/project/boot
generated
generatedCache
*.deg
*.debug
*.pgm
*.pyc
benchmark/times
test-out/*/*-log
test-out/*/*-skel
test-out/*/*-src
dsls/deliszt/lisztlib
profiler/less
.tags
