*.class
*.iml
*.ipr
*.iws
*.idea
*.DS_Store
*.~
/local.properties
delite.properties
*target
*lib_managed
*src_managed
project/boot
project/plugins/project
runtime/project/boot
generated
generatedCache
data/
*.deg
*.debug
*.pgm
benchmark/times
