# Delite project properties
[delite]

# uncomment to override default scala.virtualized.home location.
# equivalent to setting the SCALA_VIRT_HOME environment variable.
#scala.virtualized.home=/home/user/scala/scala-virtualized/dists/latest

# location of the JVM to use with Delite. 
# equivalent to setting the JAVA_HOME environment variable.
#java.home=/home/user/java/jdk1.7.0_b121_x86_64

# uncomment to override default lightweigt modular staging (LMS) location.
# equivalent to setting the LMS_HOME environment variable.
#libs.lms.home=/home/user/projects/virtualization-lms-core

# used for the benchmark/gather-numbers.py benchmarking script. not
# required for typical Delite usage.
apps.data=/home/user/delite

# used for sbt tests. should point to the sbt target directory
# for compiled runtime classes.
runtime.classes=runtime/target/scala-2.10/classes

# test options for sbt tests
tests.verbose=false
tests.threads=1
