#container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#sidebar {
	position: fixed;
  	background: white;
  	width: 200px;
  	height: 100%;
}

#right {
	position: absolute;
	left: 203px;
	width: 1000px;
	height: 100%;
}

#code {
	position: absolute;
  	width: 50%;
  	height: 50%;
}

#dfgHeader {
	position: absolute;
  	width: 50%;
  	height: 35px;
  	left: 50%;
  	background: #DDD;
}

#dfg, #generalInfo {
	position: absolute;
  	width: 50%;
  	height: 50%;
  	left: 50%;
  	top: 35px;
}

#generalInfo {
  	display: none;
}

#timeline {
	position: absolute;
  	background: #DDD;
  	width: 100%;
  	height: 30%;
  	/*top: 70%;*/
  	top: 80%;
}

#memory {
	position: absolute;
	background: rgb(49, 130, 189);
	width: 100%;
	height: 20%;
	top: 60%;
	overflow-x: auto;
	font-size: 10;
	font-family: sans-serif;
}

#gcStats {
	position: absolute;
	background: #DDD;
	width: 100%;
	height: 10%;
	top: 50%;
	overflow-x: auto;
	font-size: 10;
	font-family: sans-serif;
}

#globalViewOptions {
	margin-top: 7;
	opacity: 0;
}

#globalViewOptionsLabel {
	margin: 12 15 0 10;
	font-family: arial;
	font-size: 11;
}