#container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#sidebar {
	position: fixed;
  	background: white;
  	width: 200px;
  	height: 100%;
}

#right {
	position: absolute;
	left: 203px;
	width: 1000px;
	height: 100%;
}

#code {
	position: absolute;
  	width: 50%;
  	height: 70%;
}

#dfgHeader {
	position: absolute;
  	width: 50%;
  	height: 35px;
  	left: 50%;
  	background: #DDD;
}

#dfg {
	position: absolute;
  	width: 50%;
  	height: 70%;
  	left: 50%;
  	top: 35px;
}

#timeline {
	position: absolute;
  	background: #DDD;
  	width: 100%;
  	height: 30%;
  	top: 70%;
}

#globalViewOptions {
	margin-top: 7;
	opacity: 0;
}

#globalViewOptionsLabel {
	margin: 12 15 0 10;
	font-family: arial;
	font-size: 11;
}