
#infoTable {
	font-family: sans-serif;
	font-size: 14;
	position: absolute;
	margin: 0;
	width: 100%;
	/*border: 1px solid black;*/
	border-collapse: collapse;
}

#infoTable .tHead {
	font-weight: bold;
	background: grey;
}

#infoTable .tBody {
	font-weight: normal;
}

#infoTable .tBody .tr {
	font-weight: normal;
	background: lightsteelblue;
}

#infoTable .tBody .tr:hover {
	background: rgb(146, 181, 235);
}

#infoTable td {
	/*border: 1px solid black;*/
	padding: 10px;
	border-top: 1px solid white;
}
